<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
   <h1>Smart Greenhouse</h1>

   <h2>Metrics</h2>
   <table>
    <thead>
      <th scope="col">Measurement</th>
      <th scope="col">Average Reading</th>
      <th scope="col">Last Reading</th>
      <th scope="col">Updated At</th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Temperature</th>
        <td>79</td>
        <td>82</td>
        <td>2024-08-22T01:00:00</td>
      </tr>
      <tr>
        <th scope="row">Humidity</th>
        <td>0.432</td>
        <td>0.511</td>
        <td>2024-08-22T01:00:00</td>
      </tr>
      <tr>
        <th scope="row">CO2</th>
        <td>0.432</td>
        <td>0.511</td>
        <td>2024-08-22T01:00:00</td>
      </tr>
    </tbody>
   </table>
  
  <h2>Configurations</h2>
  <form name="configurations" id="configurations-form" method="post" >
    {% for key, value in config.items(): %}
      <div>
        <label>{{key}}:</label>
        <input type="text" name={{key}} value={{value}}>
      </div>
    {% endfor %}
      <button id="config-submit-btn">Update Configurations</button>
  </form>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>